@charset "UTF-8";

* {
    margin: 0;
    padding: 0%;
    box-sizing: border-box;
}
body {
    background-color: rgb(118, 196, 199);
    
    font: normal 18px arial;
    color: rgb(1, 62, 65);;
}
header {
    text-align: center;
    margin: 2rem 0px;
    color: white;
}
main {
    background-color: white;
    border-radius: 1em;
    
    width: 500px;
    margin: auto;

   
}
img {
    display: block;
    margin: auto;
    padding: .2em;
    width: 200px;
    height: 200px;
    border-radius: 50%;

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
#enviado { 
padding-top: 1em;
}
#data {
padding: 1em;
}
#sex{
padding: 0px 0px 1em 1em ;
}
#resultado {
    padding: 0px 0px 1em 1em;
}
